/* CUSTOM PROPS */
:root {
    --c050505: #050505;
    --c1F1F1F: #1F1F1F;
    --c2D2D2D: #2D2D2D;
    --c3A3A3A: #3A3A3A;
    --c757575: #757575;
    --cE9E9E9: #E9E9E9;
    --cF4F4F4: #F4F4F4;
    --white: #FFF;
    --cA445ED: #A445ED;
    --cFF5252: #FF5252;
    --Inter: "Inter";
}

/* CUSTOM PROPS */

/* search-area */
.search-area {
    width: 100%;
    padding: 20px 24px;
    border-radius: 16px;
    border: none;
    background: var(--cF4F4F4);
    color: var(--c2D2D2D);
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: 700;
    display: block;
    position: relative;
}

.search-area:focus {
    border: none;
}

.search-area::placeholder {
    opacity: .25;
}

.search-area:active {
    border: 1px solid var(--cA445ED);
}

/* //search-area*/


/* CONTAINER */
.container {
    max-width: 784px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
}

/* //CONTAINER */

/* GLOBAL STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* //GLOBAL STYLES */


/* Site header */

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 51px;
    position: relative;
}

.site-header {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 45px;
}

.site-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-menu-info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 26px;
}

.select-box {
    border: none;
    color: var(--c2D2D2D);
    font-family: var(--Inter);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    stroke-width: 1.5px;
    stroke: var(--cA445ED);
}

.dark-mode {
    padding: 6px 0px 6px 26px;
    border-left: 1px solid var(--cE9E9E9);
    display: flex;
    column-gap: 20px;
}

.dark-mode:hover {
    cursor: pointer;
}

.dark-btn {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #757575;
    padding: 3px;
}

.dark-btn:active{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--cA445ED);  
    /* display: none; */
}

.dark-btn:focus {
    border: none;
}

.dark-btn-item {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--white);
}

.icon-search {
    position: absolute;
    top: 115px;
    right: 48px;
}

.icon-search:hover {
    cursor: pointer;
}

/* //Site header */